<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to The Tech Blog </h1>
  </header>
  <nav>
    <a href="/">Home</a>
    <!-- If the user is signed in, show a sign out button -->
    {{#if signedIn}}
    <button id="signout" class="btn-no-style">Sign Out</button>
    {{else}}
    <!-- Otherwise, show a link to Sign in -->
    <a href="/Signin">Signin</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>View Blogposts!</h2>
    </aside>
    <div class="blogpost">
      {{{body}}}
    </div>
  </main>
  <!-- If the user is signed in, load the JS script for when they sign out -->
  {{#if signedIn}}
  <script src="/js/signout.js"></script>
  {{/if}}
</body>

</html>