<section class="singlepost">
  <div class="singlepost-details">
    <h3>{{blogpost.title}}</h3>
    <p>By: {{blogpost.user.username}}</p>
    <p>Posted: {{format_date blogpost.blogpost_date}}</p>
  </div>
</section>